@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Noto+Sans+JP:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color:rgb(255, 247, 226);
}
.text {
  font-family: 'montserrat';
}
#click {
  font-size:3rem;
}
#clack {
  font-size:3rem;
  font-weight:600;
  color:rgb(59, 126, 46);
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:7.5rem;
  margin-bottom: 3.5rem;
}

.typebox {
  display: flex;
  justify-content: center;
}
#sample {
  font-size: 1.5rem;
}
#sample-active {
  color:rgb(59, 126, 46);
  font-size: 1.5rem;
}
.input {
  outline: 0;
  height:40px;
  width:300px;
  border-width: 0 0 2px;
  border-color: black;
  text-align:center;
}
input:focus {
  border-color: black;
}
input::placeholder {
  font-weight: bold;
  font-size:1.5rem;
  opacity: 0.3;
  color: black;
}

